/*####################################
## filename: tablestyle.css
## projectname: TeamDashboard
## author: Alexander Hoffmann
## version: 0.1.1
## date: 2021-05-13
####################################*/

/* 
##########################
#####     GLOBAL     #####
##########################
*/

td, th {
    padding-left: 15px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.35);
    height: 30px;
}

/* 
##########################
##### TEAM CALENDAR  #####
##########################
*/

.table-large {
    margin: 0;
}

.th-cal {
    padding: 0;
    text-align: center;
    min-height: 50px;
    max-height: 50px;
}

.th-project {
    min-width: 335px;
    max-width: 335px;
}

.th-event {
    min-width: 355px;
    max-width: 355px;
}

.th-date {
    min-width: 175px;
    max-width: 175px;
}

.th-link {
    min-width: 125px;
    max-width: 125px;
}

.td-project {
    min-width: 320px;
    max-width: 320px;
}

.td-event {
    min-width: 340px;
    max-width: 340px;
}

.td-date {
    padding: 0;
    text-align: center;
    min-width: 175px;
    max-width: 175px;
}

.td-link {
    padding: 0;
    text-align: center;
    min-width: 125px;
    max-width: 125px;
}


/* 
##########################
##### PROJECT VIEWER #####
##########################
*/

.table-small {
    min-width: 250px;
    max-width: 250px;
}

.td-imp {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5em;
    padding-right: 15px;
}

.td-nimp {
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5em;
    color: rgb(0, 0, 0);
    padding-right: 15px;
}

#projectids .td-right {
    text-align: right;
    padding-right: 15px;
}

#projectfinacials {
    min-width: 450 px;
}

#projectfinancials .td-right {
    text-align: right;
    padding-right: 15px;
}

#pv_infotables table {
    margin: 10px;
    border-collapse: collapse;
}

#pv_infotables table thead {
    border-bottom: 3px solid rgba(74, 75, 76,1);
    line-height: 2em;
}

#pv_infotables table thead tr th{
    width: 100%;
    text-align: center;
}
/* 
##########################
### Team Boards Mutual ###
##########################
*/

.div-table_stick_rowhead {
    display: inline-flex;
    margin-top: 20px;
}

.div-teamboards tr {
    background-color: white;
}

.th-rowheader {
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    min-width: 200px;
    max-width: 200px;
    padding: 0;
    border-radius: 7px;
    background-color: rgba(52, 60, 29, 0.6);
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.th-rowheader::-webkit-scrollbar {
    display: none;
  }

.tr-teamrow {
    max-width: 80px;
    height: 120px;
    padding: 0;
}

.th-colheader {
    height: 120px;
    min-width: 40px;
}

.div-table_bodycols_scroll {
    max-height: 790px;
    min-height: 790px;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: rotate(-90deg) translate(66px, 66px);
    margin: 0;
    padding: 0;
    border-radius: 7px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.div-table_bodycols_scroll::-webkit-scrollbar {
    display: none; /* Chrome*/
  }

.div-rotate {
    transform: rotate(90deg);
    transform-origin: center;
}

.td-data {
    padding: 0;
    min-width: 80px;
    max-width: 80px;
    background-color: rgba(67, 73, 27, 0.6);
    transition: 0.25s;
}

.td-data:hover {
    background-color: rgba(67, 73, 27, 0.8);
    transition: 0.25s;
}

.td-header {
    padding: 0;
    max-width: 80px;
    min-width: 80px;
    background-color: rgba(52, 60, 29, 0.6);
}

.th-team_2 {
    padding-left: 15px;
    text-align: left;
}

.th-team_2_header {
    padding: 0;
    text-align: center;
}

.td-team_2 {
    padding: 0;
    text-align: center;
}

.td-team_2_header {
    font-weight: 700;
}







.example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }